<h2>Log in</h2>

<form action="" method="post">
  <p>
    <label for="email">email</label>
    <input type="email" name="email">
  </p>
  <p>
    <label for="password">password</label>
    <input type="password" name="password">
  </p>
  <button>Login</button>
</form>