<h2>share new dish</h2>

<form action="/dishes" method="POST">
  <label for="title">title</label>
  <input type="text" name="title">
  <label for="image_url">image</label>
  <input type="text" name="image_url">
  <button type="submit">share</button>
</form>