<h2>Sign up</h2>

<form action="/users" method="post">
  <p>
    <label for="email">email</label>
    <input type="email" name="email">
  </p>
  <p>
    <label for="password">password</label>
    <input type="password" name="password">
  </p>
  <p>
    <button>sign up</button>
  </p>
</form>